@model int
@{
    ViewData["Title"] = "deleteitem";
}

<h1>Delete: Are you sure?</h1>

You are about to delete ID number @Model. Are you sure?

<a href="/menu/index">No Cancel</a>

<a href="/menu/delete/@Model">Yes! Delete!</a>