@model List<Menu>
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<a href="/menu/createitem" class="btn btn-primary">Add New</a>
<table>
    <tbody>
        @foreach (Menu item in Model)
        {
            <tr>
                <td>
                    @item.productname
                </td>
                <td>
                    @item.discription
                </td>
                <td>
                    @item.price
                <td>
                <td>
                    @item.category
                </td>
                <td>
                    <a href="/menu/edititem/@item.id" class="btn btn-primary">Edit</a>
                    <a href="/menu/delete/@item.id" class="btn btn-danger">Delete</a>
                </td>

            </tr>
        }
    </tbody>
</table>